.Contact .form-control {
    background: #EEEEEE;
}
.Contact .map{
    height: 250px;
}
.Contact .map iframe{
    height: 100%;
}
.Contact .loaction{
    height: 170px;
    color: var(--main-color);
}
.Contact .loaction b{
    color: black;
    font-weight: bolder;
}
.Contact .flex{
    justify-content: start;
}
.Contact .flex-col{
    align-items: start;
    justify-content: space-between;
}