.About .flex-col{
    align-items: start;
}
.About div .btn{
    border-color: var(--main-color) !important;
    color: var(--main-color) !important;
}
.About div .btn:hover{
    color: #012e9f !important;
}