
.navbar .nav-link{
    color: white ;
    font-weight: bold;
    font-size: 18px;
}
.navbar .nav-link:hover{
    color: var(--main-color) !important;
}

.navbar .navbar-nav{
    width: max-content;
}
.navbar .navbar-nav .dropdown-menu{
    width: 200px;
    background: var(--main-color);
}
.navbar .proccess{
    gap: 20px;
}
.navbar .proccess div > div{
    cursor: pointer;
}